<p>Hello {{name}} , welcome to your site</p>
<div class="split left">
  <div class="centered">
    <img src="images/USER.png" alt="User Avatar">
    <p class= 'profileTxt'>Hello {{name}} , welcome to your digital recipes Book</p>
   
  </div>
  <button class ='delete'>Delete Account</button>
</div>

<div class="split right">
        <div class="row">
   
  <div class="column">
    <div class="card">
      <h3>Cheese Crackers</h3>  
      <p>Fun fast and simple</p>
      <button>See more</button>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Chiken Curry</h3>
      <p>Taste manish's favourite</p>
      <button>See more</button>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Francesinha</h3>
      <p>Portugal's princess lolol</p>
      <button>See more</button>
    </div>
    </div>
  
</div>
  
</div>
