<form method="POST" action="/signup">
  <label>name</label>
  <input type="name" name="name" placeholder="Enter your name"  >

    <label>diet</label>
  <input type="diet" name="diet" placeholder="Enter your diet"  >
  
  <label>Email</label>
  <input type="email" name="email" placeholder="Enter your email"  >

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  <button>Sign up</button>
</form>

{{#if error}}

 <p class="error">Message: {{error}}</p>

{{/if}}
