<div class="dm">
    <H1 id="txt1df">
        Diferent day, diferent meal, for everyone 
        <style>
               #txt1df{ background-color: white; opacity : 0.3 }     
         </style>
    </H1>
            <div id="searchBoard">
                   <a href="/answear"> search</a>
            </div>

            <div id="justRandom">
                    <a href="/random"> Just a random</a>
            </div>

</div>
