<div class="dm">
    <H1 id="txt1df">
        Diferent day, diferent meal, for everyone 
        <style>
               #txt1df{ background-color: white;
                      opacity : 0.3 }
               
    </style>
    </H1>
</div>