<link rel="stylesheet" href="/stylesheets/recipes.css" />

 <h2>Recipes</h2>
<p>This works?</p>

<div class="row">
    {{#each recipes}}
  <div class="column">
    <div class="card">
      <h3><img src="{{this.image}}" alt=""></h3>
      <p>{{this.title}}</p>
      <p>Some text</p>
    </div>
  </div>
    {{/each}}
</div>