<h2>Recipes</h2>
<p>This works?</p>

<div class="row">
    {{#each recipes}}
  <div class="column">
    <div class="card">
      <h3>IMAGE</h3>  ///// or as a card backgrounnd???
      <p>{{recipes.title}}</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>IMG</h3>
      <p>{{recipes.title}}</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>IMG</h3>
      <p>{{recipes.title}}</p>
      <p>Some text</p>
    </div>
    </div>
    {{/each}}
</div>