
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

@import "compass/css3";
$text-scale: 21.5px; 
$page-width: 95em;
body{ font-size:$text-scale; }
$rh-blue:      #4e9fdd;   




$tone:  #a5a9af;  
$line-height:1.5em;

@media only screen and (min-width : 1440px)  {body{font-size:$text-scale*1.07}  }
@media only screen and (min-width : 2000px)  {body{font-size:$text-scale*1.15} }
@media only screen and (min-width : 2600px)  {body{font-size:$text-scale*1.5} }


/*temporary media query for retina*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  body{font-size:.6333em;}
}
*{box-sizing: border-box; @include box-sizing(border-box);}






/* demo junk */
body{ max-width: 30em; margin: 1em auto;
  background-color:lighten($tone, 32%);  height: 101%;
  padding:4em; 
  font:{ 
    family: "Open Sans",sans-serif;
    weight: 400;
  }
  line-height:$line-height;
}

h1{font-weight: 300; font-size:4em; text-align:center; color: darken($tone, 10%); padding-bottom:.5em;line-height:1em;}




/*  ************************   */
/* meat and potatoes  */

.menu{ user-select:none;
    cursor: pointer;  
    position:relative; 
    text-align:left;
    height: $line-height*2;
    line-height: $line-height*2;
    display: block;   width: 100%; 
    background-color:rgba(lighten($tone, 27%),.5); 
    @include background(linear-gradient(top, lighten($tone, 32%) 0%, lighten($tone, 20%) 100%));
    @include border-radius( .25em); 
    color:rgba(0,0,0,0.5);  
    @include box-shadow(  0 1px 2px rgba(0,0,0,0.15),  0 0 0 1px lighten($tone,20%),  inset 0 0 0 1px rgba(255,255,255,0.12),  inset 0 $line-height 0 rgba(255,255,255,0.25));  
    text-indent: 1em;  
    width: 100%;   
    min-width: 11em;
    text-overflow:ellipsis; 
    white-space:nowrap;
    
    &:after{
      position:absolute; 
      top:0; 
      right:0; 
      content:""; 
      display: block;

    height: $line-height*2;      width: 2.5em ;  
      @include box-shadow( 0 0 0 1px rgba(0,0,0,0.015), inset 0 0 0 1px rgba(255,255,255,0.1),  -.2em 0 .2em -.2em rgba(0,0,0,0.2)) ; 
      float:right; 
      border-radius:0 .25em  .25em 0;
    } 
    
    &:before{
      content:""; 
      border: .5em   solid black; 
      border-width:.5em .5em 0;
      border-color: #ccc transparent ; 
      border-color: rgba(0,0,0,0.2) transparent ;
      width: 0; height: 0; 
      position:absolute; right:0;
      margin-top: $line-height*.85; 
      margin-left:-4em; 
      margin-right: .75em;  
      transition: all .15s ease;
    }
    &:hover{
      background-color: rgba(255,255,255,0.5); 
      color:#333;
      &:before{ 
        border-color: #666 transparent ; 
        border-color: rgba(0,0,0,0.5) transparent ;
      }
    
    }
  ul{ position:relative;
    list-style: none; z-index:2;
    padding:0; margin:0; 
    background-color: lighten($tone, 36%); 
    @include border-radius( 0 0 .25em .25em); 
    @include box-shadow(  
      0 1px 2px rgba(0,0,0,0.15),  
      inset 0 0 0 1px lighten($tone, 20%), 
      0 0 3em  rgba(0,0,0,0.2),
      inset 0 0 0 2px rgba(255,255,255,0.12));  
    width: 100%;
    overflow:hidden;
    max-height:13em; overflow-y: auto;
    li{ display:inline;
      margin:0; 
      padding:0; 
      width: 100%; 
    
    
    a, label{  
        span{display: block; position: absolute; top:0; left:0; width: 100%;}
        input[type="checkbox"]{opacity:0;}
        cursor: pointer;
        text-overflow: ellipsis;
        position:relative; 
        z-index:1;
        text-decoration: none; 
        display:block;
        color:darken($tone, 20%);
      &:hover,  input:checked ~ span{
          background-color:$rh-blue;
          @include background(linear-gradient(top, lighten($rh-blue, 7%) 0%, darken($rh-blue, 7%) 100%));
          color: white;
        } 
        
        input:checked ~ span{&:after{content: "selected"; position: absolute; right: 2em; margin-right:2em; }}
      } 
      label:hover{@include background(linear-gradient(top, lighten($tone, 29%) 0%, lighten($tone, 26%) 100%));
color:darken($tone, 20%); }
    &:last-child a{
        @include border-radius( 0 0 .25em .25em );
      }
      
    }
   

  }
  span{display:block;text-overflow: ellipsis; overflow:hidden; padding-right:3em; position:relative; z-index: 1;}
  
  }
.nojs .menu:hover,
.menu.clicked{@include border-radius( .25em .25em 0 0 );
  background-color:rgba(lighten($tone, 35%),.5); 
  
    @include background(linear-gradient(top, 
    lighten($tone, 30%) 0%, 
   lighten($tone, 35%) 20%,
    lighten($tone, 35%) 100%));
  
  
  @include box-shadow(      inset 0 -1px lighten($rh-blue, 10%), 0 0 0 1px lighten($rh-blue, 10%));
  
     color: darken($tone, 50%);
 &:before{
      border-color: $rh-blue transparent ;
}

  > span{color:$rh-blue}
}

.menu.clicked ul{display:block; @include box-shadow( 
      0 0 0 1px lighten($tone, 15%), 
      0 2em 3em  rgba(0,0,0,0.2),
      inset 0 0 0 1px rgba(255,255,255,0.12)); }

.menu ul{display: none}

/* for our friends without javascript */
.nojs .menu{ height: auto;
/*  &:after, &:before{display:none}*/
   &:hover ul{display:block; position:absolute; top:$line-height*2; margin-top:-1px; left:0; box-shadow:  0 0 0 1px lighten($tone, 10%), 0 2em 3em rgba(0,0,0,0.2); max-height: 12em; &:before{display:none;}}}



/*

body{padding-top:19em;}
h1{position: absolute; text-align:center; margin-top:-3em}


@keyframes drop{  
  0% {transform: translate(0px,-100px); opacity:0;} 
  10% {transform: translate(0px,0px); opacity:1; }
  95% {opacity:1; }
  100% {transform: translate(0px,0px);opacity:0; }}

h1 span{display: inline-block;transform: translate(0px,-300px); }
h1 span:nth-child(1){animation: drop 15s ease 0s 1;}
h1 span:nth-child(2){ animation: drop 15s ease 1.5s 1; }
h1 span:nth-child(3){ animation: drop 15s ease 3s 1; }*/