* {
  margin: 0;
  /* padding: 0; */

}
.navbar-nav{
  color: white;
}
.dm {
  background-image: url(../images/colheres.png);
 
  background-position: center bottom;
  background-size: 100%;
  height: 900px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: beige;
}

#txt1df {
  font-size: 64px;
  color: #264f73;
  margin-top: 120px; 
  margin-bottom: 30px;
}
a {
  color: white;
}
#searchBoard{
  color: aliceblue;
  font-size: 40px;
}
/*end nav bar*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: center;
  width: 80%;
  padding: 15px 80px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;}
  /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: index 1;;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(250, 243, 243);
  padding-top: 8vh;
}

/* Control the right side */
.right {
  padding-top: 5vh;
  display : flex;
  flex-direction: column;
  right: 0;
  background-color: rgb(163, 96, 96);
  
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* REFESR TO PROFILE FAV CARDS*/
.centered img {
  width: 150px;
  border-radius: 50%;
}
/* REFESR TO PROFILE FAV CARDS*/ 
.favcard {     
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}
/* REFESR TO PROFILE FAV CARDS*/
.container {
  padding: 2px 16px;
}

.delete {
  background-color: #ad2f2f; /* red Delete profile button */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 70%;
  top: 90%;
}
.profileTxt{
  font-size: 200%;
}




.butterchicken{
  /* width : 460px;
  padding: 0px;
  border-radius: 10px;
  background-image: url(../images/wood.jpg);
  padding: 28px;
   */
   border-radius: 10px;
   background: #1c4370;
   padding: 20px;
   width: 650px;
   height: 350px;
   

}
option{
  width: 333px;
}

.justRandom{
  background-color: #d1673d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
}

select {
  min-width: 150px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}