* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navBar{
  display: flex;
  padding-bottom: 2px;
  justify-content: space-between;
  background-color: #264f73;
  padding-right: 10px;
  font-size: 14px;
}
#textNavb{
  color: white;
}
#navBar > ul{
  display: flex;
  font-size: 23px;
  padding-top: 8px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:flex-end;
  width: 35%;
  list-style: none;
}

.dm {
  background-image: url(../images/pexels-edward-eyer-1049626.jpg);
  background-size: 100%;
  height: 900px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: beige;
}

#txt1df {
  font-size: 64px;
  opacity: 1;
  color: #264f73;
}
a {
  color: white;
}
#searchBoard{
  color: aliceblue;
  font-size: 40px;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;}